.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mt-10 {
    margin-top: 2.5rem;
}

.mt-10 {
    margin-top: 3rem;
}

.mx-8 {
    margin: 0px 2rem;
}
